    <form *ngIf="commentForm" (ngSubmit)="onSubmit()" [formGroup]="commentForm" autocomplete="off">

        <textarea rows="4" formControlName="comment" type="text" class="form-control" id="comment" name="comment" placeholder="Commment">
        </textarea>
        <input formControlName="url" type="text" class="form-control" id="url" name="url" required placeholder="URL" />
        <input formControlName="id" type="hidden" class="form-control" id="id" name="id" required placeholder="URL" />

        <button type="submit" id="button" class="btn btn-success" [disabled]="!commentForm.valid">Save</button>

    </form>