
.sidekick-container .card{
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.card-header{
    background-color: rgba(255, 255, 255, 0.21);
    border-bottom: 2px solid;
}
.card-title{
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1
}
.card-image {
    width: 25px;
    height: 25px;
}
body{
    width: 500px;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}