
    <div class="row ">
      
      <div class="col">
          <a class="navbar-brand mb-0 h1" href="#">ionoi</a>
          <a routerLink="home" class="navbar-brand" routerLinkActive="active">
            <img class="navicon" src="/assets/images/brain.svg" />
          </a>
      </div>

      <div class="col">

          <a routerLink="library" class="" routerLinkActive="active">
            <img class="navicon" class="" src="/assets/images/library_books_FILL0_wght400_GRAD0_opsz48.svg" />
          </a>

          <a routerLink="register" class="" routerLinkActive="active">
            <img class="navicon" class="" src="/assets/images/add_box_FILL0_wght400_GRAD0_opsz48.svg" />
          </a>

          <a routerLink="user" class="" routerLinkActive="active">
            <img class="navicon" class="" src="/assets/images/account_circle_FILL0_wght400_GRAD0_opsz48.svg" />
          </a>
      </div>
    
  </div>
