<div class="row">
    <div class="col"></div>
    <div class="col">
        <h1>Your AI copilot on the web.</h1>
        <p>
        Remember people, places and things not just pages.
        Reveal connections between things you didn't know where there.
        Comment anywhere on the web shared only with your friends.
        Plan, share and organize your web.</p>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col">
    </div>
    
    <div class="col">
        <app-sign-in></app-sign-in>
    </div>

    <div class="col">
        <app-sign-up></app-sign-up>
    </div>

    <div class="col">
    </div>
</div>