<form *ngIf="entityForm" (ngSubmit)="onSubmit()" [formGroup]="entityForm" autocomplete="off">

    <select formControlName="type" class="form-control" id="type" required placeholder="URL" >
        <option value="PERSON">Person</option>
        <option value="LOCATION">Place</option>
        <option value="ORGANIZATION">Organization</option>
        <option value="CONSUMER_GOOD">Consumer good</option>
        <option value="WORK_OF_ART">Work of art</option>
    </select>
    
    <input formControlName="name" type="text" class="form-control" id="name" required placeholder="URL" />
    <input formControlName="wikipedia_url" type="text" class="form-control" id="wikipedia_url" required placeholder="URL" />
    <input formControlName="id" type="hidden" id="id" />

    <button type="submit" id="button" class="btn btn-success" [disabled]="!entityForm.valid">Save</button>

</form>