/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Open Sans';
}
.logo-text
{
    font-family: 'Kanit';
    font-weight: 500; 
    font-style: italic;
}